<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serilog:minimum-level" value="Verbose" />
    <add key="serilog:write-to:File.path" value="XanthiLogger-{Date}.log" />
    <add key="serilog:write-to:File.retainedFileCountLimit" value="10" />
  </appSettings>
</configuration>